// ----- Base ----- //
$white: rgba(255,255,255,1);
$black: rgba(0,0,0,1);
$java: rgba(31,192,201,1);
$turquoise: rgba(43,251,203,1);
$orange: rgba(255,145,94,1);

// ----- Text ----- //
$blue-text: rgba(40,56,69,1);
$blue-dull: rgba(120, 138, 153, 1);

// ----- Grays ----- //
$gray-light: rgba(241,241,241,1);
$gray-medium: rgba(161,161,161,1);
