.pricing{
  padding: 2rem 0;
  &__copy{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: $blue-text;
    max-width: 700px;
    font-size: 1rem;
    line-height: 2rem;
  }
  &__container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin: 2rem 0;
  }
  &__box{
    text-align: center;
    padding: 4rem;
    width: calc(100% );
    border-radius: 5px;
    box-shadow: 0px 0px 20px transparentize($black, 0.75);
    margin: 1rem 0;
    @include breakpoint(tablet){
      width: calc((100% / 3) - 10rem);
      margin: 0;
    }
    &--dark{
      background: $blue-text;
      color: $white;
    }
    &--light{
      background: transparent;
      color: $blue-text;
    }
    &__price{
      font-size: 2rem;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      margin-bottom: 1rem;
      span{
        font-size: 1.5rem;
        font-weight: 400;
      }
    }
    &__type{
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      margin: 0;
    }
    &__people{
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      font-style: italic;
      margin: 0;
    }
  }
}
