/* ----- Keyframes For Checkmark Animation ----- */
@keyframes stroke{ 100% {stroke-dashoffset: 0;} }
@keyframes scale{ 0%, 100% { transform: none; } 50% {transform: scale3d(1.1, 1.1, 1);} }
@keyframes fill{ 100% {box-shadow: inset 0px 0px 0px 74px $java;} }
$curve: cubic-bezier(0.650, 0.000, 0.450, 1.000);

/*----- Signup Component Styles ----- */
.signup{
  background: $white;
  border-radius: 5px;
  box-shadow: 0px 0px 20px transparentize($black, 0.75);
  min-height: 400px;
  margin: 0 auto;
  margin-top: -1rem; // makes up for global pad
  width: 100%;
  position: relative;
  &__heading{
    padding: 2rem 2rem 1rem 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: $blue-dull;
    font-size: 1rem;
    position: relative;
    margin-bottom: 2rem;
    &:after{
      position: absolute;
      bottom: -0.5rem;
      display: block;
      content: '';
      width: 75px;
      height: 2px;
      background: $blue-dull;
    }
  }
  &__container{
    padding: 0rem 2rem 4rem 1rem;
  }
  &__checkbox{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    &__button{
      width: calc(100% - 2rem); // 2rem for container margin
      padding: 0.75rem 1rem;
      @include breakpoint(phone){
        width: calc(50% - 2rem); // 2rem for container margin
      }
      @include breakpoint(desktop){
        width: calc((100% /3) - 2rem); // 2rem for container margin
        padding: 1rem;
      }
      input{
        &[type=checkbox]{
          display: none;
          &:checked{
            + label span{
              background: $blue-dull;
              box-shadow: inset 0 0 0 5px $white;
            }
          }
        }
      }
      label{
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        color: $blue-dull;
        display: block;
        line-height: 2rem;
        font-size: 0.9rem;
        span {
          display: block;
          background: transparent;
          border: solid 2px $blue-dull;
          width: 2rem;
          height: 2rem;
          cursor:pointer;
          border-radius:  50%;
          margin: 0 1rem 0 0;
          float: left;
          transition: all 0.3s ease-in-out;
        }
        &:hover{
          cursor: pointer;
        }
      }
    }
  }
  &__details{
    margin: 0 0 0 1rem;
    font-family: 'Montserrat', sans-serif;
    &__box{
      margin: 0 0 4rem 0;
      @include breakpoint(tablet){
        margin: 0rem 0;
      }
    }
    &__heading{
      font-size: 1rem;
      line-height: 1.5rem;
      font-weight: 400;
      color: $blue-dull;
      max-width: 100%;
      text-align: center;
      @include breakpoint(tablet){
        text-align: left;
        max-width: 90%
      }
    }
    &__input{
      color: $java;
      width: 100%;
      font-family: 'Montserrat', sans-serif;
      font-size: 1rem;
      text-align: left;
      border:none;
      margin: 1rem 0;
      border-bottom: solid 1px transparentize($blue-dull, 0.5);
      padding: 0 0 1rem 0;
      line-height: 1rem;
      transition: border-bottom 0.2s ease-in;
      @include breakpoint(tablet){
        width: 80%;
      }
      &:focus{
        outline:none;
        border-bottom: solid 1px $java;
      }
    }
    // Chrome overrides for required fields
    input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px white inset;
      -webkit-text-fill-color: $java !important;
    }
    &__error{
      width: 100%;
      text-align: right;
      font-family: 'Roboto', sans-serif;
      color: $blue-dull;
      font-style: italic;
    }
  }
  &__scale{
    margin: 4rem 0 0 0;
    input[type="range"] {
      display: block;
      -webkit-appearance: none;
      background-color: $gray-light;
      width: 100%;
      height: 5px;
      border-radius: 5px;
      margin: 0 auto;
      outline: 0;
    }
    input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      background-color: $blue-dull;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 8px solid $white;
      cursor: pointer;
      transition: .3s ease-in-out;
    }​
    input[type="range"]::-webkit-slider-thumb:hover {
      border: 2px solid $white;
    }
    input[type="range"]::-webkit-slider-thumb:active {
      transform: scale(1.5);
    }
    &__copy{
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 1rem;
      margin: 4rem 0 0 0;
      text-align: center;
      color: $blue-dull;
      &--bold{
        display: block;
        margin-bottom: 1rem;
        font-weight: 700;
        color: $blue-text;
      }
    }
  }
  &__schedule{
    display: flex;
    flex-direction: column;
    @include breakpoint(tablet){
      flex-direction: row;
    }
    &__calendar{
      flex: 1;
      width: 300px;
      margin: 0 auto;
      @include breakpoint(tablet){
        flex-direction: row;
        margin: 0;
      }
    }
    &__times{
      flex: 1;
      padding: 0 1rem;
      &__heading{
        font-size: 1rem;
        font-weight: 400;
        color: $blue-dull;
        text-align: center;
        margin-top: 2rem;
        @include breakpoint(tablet){
          margin-top: 0;
          text-align: left;
        }
      }
      &__description{
        font-family: 'Roboto', sans-serif;
        color: $blue-dull;
        font-style: italic;
        text-align: center;
        @include breakpoint(tablet){
          text-align: left;
        }
      }
      &__list{
        padding: 0;
        margin-left: -0.5rem;
        list-style: none;
        font-family: 'Roboto', sans-serif;
        color: $java;
        text-align: center;
        @include breakpoint(tablet){
          text-align: left;
        }
        &__item{
          display: inline-block;
          background: transparent;
          border: solid 1px $java;
          border-radius: 5px;
          margin: 0.5rem;
          padding: 0.5rem;
          transition: all 0.2s ease-in;
          &:hover, &--active{
            background: $java;
            color: $white;
            cursor: pointer;
          }
        }
      }
    }
  }
  &__confirmation{
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    padding-top: 4rem;
    &__message{
      text-align: center;
      @include breakpoint(tablet){
        max-width: 80%;
      }
    }
    &__checkmark__circle{
      stroke-dasharray: 166;
      stroke-dashoffset: 166;
      stroke-width: 2;
      stroke-miterlimit: 10;
      stroke: $java;
      fill: none;
      animation: stroke .6s $curve forwards;
    }
    &__checkmark{
      width: 100px;
      height: 100px;
      border-radius: 50%;
      display: block;
      stroke-width: 2;
      stroke: #fff;
      stroke-miterlimit: 10;
      stroke-linecap: round;
      margin: 0 auto 1rem auto;
      box-shadow: inset 0px 0px 0px $java;
      animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
      &__check{
        transform-origin: 50% 50%;
        stroke-dasharray: 48;
        stroke-dashoffset: 48;
        animation: stroke .3s $curve .8s forwards;
      }
    }

  }
  &__button-container{
    position: absolute;
    bottom: 1rem;
    width: 100%;
    right: 0; left: 0;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    &--first{
      justify-content: flex-end;
      width: auto;
    }
    &__button{
      justify-content: center;
      margin-right: 1rem;
    }
  }
  &__progress-bar{
    transition: width 0.5s ease-in;
    height: 5px;
    border-radius: 0px 5px 5px 5px;
    background: linear-gradient(to left, $java, $turquoise);
    position: absolute;
    bottom: 0;
  }
}

/* jQuery Datepicker custom Styles */
.datepicker {
  font-family: 'Roboto', sans-serif;
  width: 300px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 50px 0 rgba(0,0,0,0.05);
  overflow: auto;
  @include breakpoint(desktop){
    margin-left:0;
  }
  @media screen and (max-width: 420px){
    margin-left: -1.5rem; //special case
  }
  .ui-datepicker-inline {
    padding: 10px;
  }

  .ui-datepicker-header {
    text-align: center;
    padding:1rem 0 2rem 0;
    font-family: 'Montserrat', sans-serif;
    color: $blue-dull;
    .ui-datepicker-prev,
    .ui-datepicker-next {
      display: inline;
      float: left;
    }

    .ui-datepicker-next {
      float: right;
    }
  }

  .ui-datepicker-calendar {
    width: 100%;
    text-align: center;
    thead {
      color: $gray-light;
    }

    tr {
      th, td {
        padding-bottom: .5em;
      }
      td{
        color: $blue-dull;
      }
    }
    a {
      color: $blue-dull;
      text-decoration: none;
      display: block;
      margin: 0 auto;
      width: 35px;
      height: 35px;
      line-height: 35px;
      border-radius: 50%;
      border: 1px solid transparent;
      cursor: pointer;
    }
    .calendar__day--available a{
      background: $java;
      color: $gray-light;
    }
    .ui-state-highlight {
      border-color: #D24D57;
      color: #D24D57;
    }
    .ui-state-active{
      // background: darken($java, 25%) !important;
      background: $orange !important;
    }
  }
}

.calendar__arrow{
  display: block;
  height: 20px;
  width: 20px;
  cursor: pointer;
  svg path{
    stroke: $blue-dull;
    transition: stroke 0.2s ease-in;
  }
  &:hover{
    path{
      stroke: $turquoise;
    }
  }
  &--left{
    float:left;
  }
  &--right{
    transform: rotate(180deg);
    float: right;
  }
}
